@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 12px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-between;
}

.left-links {
  display: flex;
  margin: 10px;
  justify-content: flex-start;
}

.right-links {
  display: flex;
  margin: 10px;
  margin-left: -20px;
  justify-content: flex-end;
}

ul {
  list-style-position: inside;
  list-style-type: none;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  margin: 5px;
}

.parent {
  /*background-color: aquamarine;*/
  display: flex;
  justify-content: center;
  margin: 200px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.input {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  display: table-cell; vertical-align: middle;
}